.menubar {
  width: 100%;
  background-color: rgb(162, 154, 154);
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  column-gap: 30px;
  position: fixed;

  z-index: 100;
}
.cartlist {
  transform: translateY(100px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.nolist {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  font-size: 30px;
  transform: translateX(500px);
}
.productcontainer {
  width: 100%;
  display: grid;
  gap: 30px;
  margin: 30px;
  grid-template-columns: repeat(4, 1fr);
  transform: translateY(100px);
}
.eachproduct img {
  width: 100%;
}
.eachproduct {
  border: 2px solid rgb(71, 68, 68);
  width: 310px;
  font-size: 20px;
  box-shadow: 2 2 3 4 black;
}
.buttons {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.buttons button:nth-child(1) {
  background-color: rgb(67, 240, 14);
}
.buttons button:nth-child(2) {
  background-color: rgb(221, 43, 15);
}
.buttons button {
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
